<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p style="color: white;">© Nefinia</p>
                  <center>
          <a href="./index.html" title="">
          <img src="./assets/images/cosmovision.png" class="img-responsive" alt="" style="max-width: 10%;">
          </a><br></center>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<script type="text/javascript" src="./main.70a66962.js"></script>