<header>

  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./science.html" title="">02 : Research</a></li>
          <li><a href="./art.html" title="">03 : Creative Work</a></li>
          <li><a href="./interactive.html" title="">04 : Interactive Work</a></li>
          <li><a href="./ventures.html" title="">05 : Projects</a></li>
          <li><a href="./events/index.html" title="">06 : Events</a></li>
          <li><a href="./about.html" title="">07 : About</a></li>
          <li><a href="./contact.html" title="">08 : Contact</a></li>
        </ul>
      </div>
    </div>

  </nav>
</header>
